.details-container {
  max-width: 750px;
  margin: 0 auto;
}

.book-info {
  display: flex;
  padding: 10px 20px;
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 8px 0px, rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 3px 3px -2px;
  background-color: rgb(255, 255, 255);
}

.book-info .right {
  width: 100%;
  margin-left: 20px;
  position: relative;
}

.poster-img {
  width: 170px;
  min-width: 170px;
  height: 220px;
}

.btn-area {
  position: absolute;
  bottom: 5px;
  left: 0;
}

.btn-area button,
.btn-area .btn {
  margin-right: 10px;
}